---
layout: default
---

<div class="home">

  <div id="main" class="call-out"
       style="background-image: url('{{ site.header_feature_image | relative_url }}'); background-position: {{ site.header_feature_position }}">
    <h1 class="title"> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    <h2 class="subtitle">{{ site.subtitle }}</h2>
  </div>

  <article>
    <section class="post-content">
      <div class="photo-cropper">
        <img src="{{ site.photo | relative_url }}" alt="Avatar" class="photo">
      </div>
      <div>
        <!-- Frontpage content here -->
          {% assign frontpage = site.pages | where:"frontpage", "true" %}
          {% if frontpage %}
          {{ frontpage[0].content }}
          {% else %}
          <p>No frontpage found. Create a page that has the properties</p>

          <code>
            hide: true </br>
            frontpage: true
          </code>

        <p>Pages found are:</p>
        <ul>
          {% for page in pages %}
          <li>{{ page.title }}, frontpage: {{ page.frontpage }}</li>
          {% endfor %}
        </ul>
          {% endif %}
      </div>
    </section>
  </article>
</div>
